src/S_parser/Tokenizer/__pycache__ 
src/S_parser/Tokenizer/Data/__pycache__
src/S_parser/GrammarSyntax/__pycache__
src/S_parser/GrammarSyntax/Data/__pycache__ 
src/S_parser/__pycache__
src/S_parser/Errors/__pycache__